.BF {
	perspective: 800px;
}

.Original {
	transform-origin: top center;
}

.Clone {
	transform-origin: bottom center;
	transform: rotate3d(1, 0, 0, -90deg);
}

.NiceFont {
	font-family: 'Playfair Display', courier;
}
