@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Lostar';
	src: url('./assets/Fonts/Lostar.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'New Amsterdam';
	src: url('./assets/Fonts/NewAmsterdam-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Playfair Display';
	src: url('./assets/Fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf')
		format('truetype');
	font-weight: normal;
	font-style: italic;
}

html {
	overflow-x: hidden;
	background-color: #0b0b0b;
}

::-webkit-scrollbar {
	width: 0;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
