@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Lostar';
	src: url('./assets/Fonts/Lostar.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'New Amsterdam';
	src: url('./assets/Fonts/NewAmsterdam-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Playfair Display';
	src: url('./assets/Fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf')
		format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Hypik';
	src: url('./assets/Fonts/hypik.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	scrollbar-width: thin;

	background-color: #0b0b0b;
}

body {
	overflow-x: hidden;
	overflow-y: visible;
}
/* 
::-webkit-scrollbar {
	width: 10px;
} */

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
