#LoadingState1 {
	animation: State3 10s infinite linear;
}

#LoadingState2 {
	animation: State2 10s infinite linear;
	animation-delay: 1.75s;
}

@keyframes State2 {
	from {
		transform: translateX(80%);
	}
	to {
		transform: translateX(-130%);
	}
}
@keyframes State3 {
	from {
		transform: translateX(10%);
	}
	to {
		transform: translateX(-200%);
	}
}
