#LoadingState1 {
	animation: State2 10s infinite linear;
}

#LoadingState2 {
	animation: State2 10s infinite linear;
	animation-delay: 5s;
}

@keyframes State2 {
	from {
		transform: translateX(80%);
	}
	to {
		transform: translateX(-130%);
	}
}
