@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

#Welcome {
	min-height: 100vh;
	min-width: 100vw;
	background: #0b0b0b;
	position: absolute;
	z-index: 999;
	mix-blend-mode: difference;
}

#Header {
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	color: white;
	align-items: center;
}

#Header h1 {
	font-size: 10vh;
	font-family: 'Lostar';
	z-index: 1000;
	cursor: context-menu;
}

#Header p {
	font-size: 2vh;
	font-family: 'New Amsterdam', sans-serif;
	font-weight: 400;
	margin-left: 5%;
	margin-right: 5%;
	cursor: context-menu;
}

#Header .MiddleText > h1:nth-child(odd) {
	-webkit-text-stroke-width: 0.1vh;
	-webkit-text-stroke-color: white;
	color: transparent;
}

.SideText {
	position: absolute;
	display: flex;
	height: fit-content;
	width: 39vh;
}

.SideText hr {
	border: 0;
	border-top: 1.5px solid white;
	transform: translateY(1.4vh);
}

.SideText > hr {
	flex: 1;
}

#SideText1 {
	left: -22.5vh;
	order: 1;
	transform: rotate(-90deg);
}

#SideText2 {
	left: 37vh;
	order: 3;
	transform: rotate(90deg);
}

.MiddleText {
	order: 2;
}

@media (max-width: 767px) {
	#Header .MiddleText h1 {
		font-size: 6vh;
	}
	.SideText {
		width: 23vh;
	}
	#SideText1 {
		left: -27vw;
	}
	#SideText2 {
		left: 44vw;
	}
	#Header .MiddleText > h1:nth-child(odd) {
		-webkit-text-stroke-width: 0.15vh;
	}
}
