@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

#Welcome {
	min-height: 100vh;
	min-width: 100vw;
	position: fixed;
	overflow: hidden;
	isolation: isolate;
	z-index: 1000;
	top: 0;
	left: 0;
	margin: 0;
}

/* blurred background */
#Welcome::before {
	content: "";
	position: absolute;
	inset: 0;

	background-image: url("/assets/Images/MainBg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	filter: blur(12px);
	transform: scale(1.06);

	z-index: 0;
	pointer-events: none;
}

#Header {
	display: flex;
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	color: white;
	align-items: center;

	z-index: 2;
}

#Header h1 {
	font-size: 8vh;
	font-family: 'CloisterBlack', serif;
	z-index: 1000;
	cursor: context-menu;
	font-weight: normal;
}

#Header p {
	font-size: 2vh;
	font-family: 'New Amsterdam', sans-serif;
	font-weight: 400;
	margin-left: 5%;
	margin-right: 5%;
	cursor: context-menu;
}

#Header .MiddleText > h1:nth-child(odd) {
	-webkit-text-stroke-width: 0.1px;
	-webkit-text-stroke-color: white;
	color: transparent;
	font-weight: bold;
}

.SideText {
	position: absolute;
	display: flex;
	height: fit-content;
	width: 39vh;
}

.SideText hr {
	border: 0;
	border-top: 1.4px solid white;
	transform: translateY(2.25vh);
}

.SideText > hr {
	flex: 1;
}

#SideText1 {
	left: -22.5vh;
	order: 1;
	transform: rotate(-90deg);
}

#SideText2 {
	left: 40vh;
	order: 3;
	transform: rotate(90deg);
}

.MiddleText {
	order: 2;
}

@media (max-width: 767px) {
	#Header .MiddleText h1 {
		font-size: 6vh;
	}
	.SideText {
		width: 23vh;
	}
	#SideText1 {
		left: -27vw;
	}
	#SideText2 {
		left: 44vw;
	}
	#Header .MiddleText > h1:nth-child(odd) {
		-webkit-text-stroke-width: 0.15vh;
	}
}
