#NavBar {
	font-family: 'New Amsterdam', sans-serif;
	position: fixed;
	z-index: 1000;
	color: white;
	background-color: #0b0b0b; /* Ensure background color is applied */
	width: 100%; /* Ensure it spans the full width */
}

#NavBar > div {
	mix-blend-mode: difference;
}

#AvailableState {
	transition: 500ms;
}

#AvailableState1 {
	animation: State1 10s infinite linear;
}

#AvailableState2 {
	animation: State1 10s infinite linear;
	animation-delay: 5s;
}

@keyframes State1 {
	from {
		transform: translateX(60%);
	}
	to {
		transform: translateX(-150%);
	}
}
